# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Data directories
data/

# Authentication files
.auth/

# Screenshot directories
screenshots/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Gatsby files
.cache/

# vuepress v2.x temp and cache directory
.temp
.cache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

#custom
allure-report
allure-results
playwright-report
blob-report
test-results

# Mac system files
.DS_Store

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Chatmodes files
*/chatmodes/
tests/seed.spec.ts